<app-header></app-header>
<main>
  <section class="hero-section">
    <div class="left-hero-section">
      <h1>Transforme Seu Pequeno Negócio em um Grande Sucesso com Nosso Marketing Digital!</h1>
      <app-botao-entrar-hoje id="hero-button"></app-botao-entrar-hoje>
    </div>
    <div class="right-hero-section">
      <img class="hero-img" src="../../../assets/main.svg" alt="">
    </div>
  </section>

  <section class="mid-section">
    <div class="top-mid-section">
      <h2>Impulsione Seu Negócio com Estratégias de Marketing Digital Personalizadas!</h2>
    </div>
    <div class="botton-mid-section">
      <app-servicos-container></app-servicos-container>
      <app-servicos-container></app-servicos-container>
      <app-servicos-container></app-servicos-container>
      <app-servicos-container></app-servicos-container>
    </div>
  </section>

  <section class="sub-page-section">
    <app-sub-page></app-sub-page>
    <app-sub-page></app-sub-page>
  </section>

  <section class="depoimentos-section">
    <h2>Você está em boa companhia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  </section>

  <section class="registrar-section">
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
    <app-botao-entrar-hoje></app-botao-entrar-hoje>
    <button>Contate-nos</button>
  </section>
</main>