<app-header></app-header>
<main>
  <section class="hero-section">
    <div class="left-hero-section">
      <h1>Transforme Seu Pequeno Negócio em um Grande Sucesso com Nosso Marketing Digital!</h1>
      <app-botao-entrar-hoje id="hero-button"></app-botao-entrar-hoje>
    </div>
    <div class="right-hero-section">
      <img class="hero-img" src="../../../assets/main2.svg" alt="">
    </div>
  </section>

  <section class="mid-section">
    <div class="top-mid-section">
      <h2>Impulsione Seu Negócio com Estratégias de Marketing Digital Personalizadas!</h2>
    </div>
    <div class="botton-mid-section">
      <app-servicos-container [titulo] = '"Gestão de Redes Sociais"' [texto]='"Oferecemos gestão completa das suas redes sociais, criando conteúdo relevante, engajando com seu público e aumentando sua visibilidade online. Nossa equipe cuida do planejamento, publicação e monitoramento para garantir uma presença digital forte e consistente."'></app-servicos-container>
      <app-servicos-container [titulo] = '"Criação de Sites Otimizados"' [texto]='"Desenvolvemos sites modernos e otimizados para mecanismos de busca, focados em melhorar a experiência do usuário e aumentar as chances de conversão. Garantimos que seu site seja responsivo e projetado para atrair mais visitantes e impulsionar seu negócio."'></app-servicos-container>
      <app-servicos-container [titulo] = '"Campanhas de Anúncios Pagos"' [texto]='"Maximize seus resultados com campanhas de anúncios pagos no Google, Facebook e outras plataformas. Criamos estratégias personalizadas para alcançar o público certo no momento certo, aumentando o retorno sobre o investimento e o crescimento da sua marca."'></app-servicos-container>
      <app-servicos-container [titulo] = '"Consultoria em SEO"' [texto]='"Melhoramos o ranqueamento do seu site nos motores de busca com estratégias de SEO. Nossa consultoria inclui análise de palavras-chave, otimização de conteúdo e melhorias técnicas, ajudando seu site a ganhar mais visibilidade e atrair tráfego qualificado."'></app-servicos-container>
    </div>
  </section>

  <section class="sub-page-section">
    <app-sub-page></app-sub-page>
  </section>

  <section class="depoimentos-section">
    <h2>Você está em boa companhia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  </section>

  <section class="registrar-section">
    <h2>
      Impulsione Seu Pequeno Negócio com Estratégias de Marketing Digital que Geram Resultados!
    </h2>
    <app-botao-entrar-hoje id="segundo-botao-entrar-hoje"></app-botao-entrar-hoje>
    <button>Contate-nos</button>
  </section>

  <app-footer></app-footer>

</main>