@import '../../../styles.scss';

main {

  display: flex;
  flex-direction: column;

  .hero-section {
    height: 960px;
    display: flex;

    .left-hero-section {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: xx-large;

      h1 {
        margin-left: 60px;
        color: $dark-color;
      }
    }

    .right-hero-section {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;

      .hero-img {
        width: 700px;
        margin-bottom: 100px;
      }
    }
  }

  ::ng-deep app-botao-entrar-hoje {
    margin: 20px 0px 200px 60px
  }

  //Início Mid Section ------------------------------------------

  .mid-section {
    height: 948px;
    display: flex;
    flex-direction: column;
    background-color: $light-color;

    .top-mid-section {
      height: 25%;

      h2 {
        margin: 120px 0px 0px 80px;
        font-size: xx-large;
        font-weight: 400;
      }
    }

    .botton-mid-section {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }

  }

  //Início Depoimentos Section ------------------------------------------

  .depoimentos-section {
    height: 738px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: xx-large;
      font-weight: 400;
    }

    p {
      font-size: x-large;
    }
  }

  //Início Registrar Section ------------------------------------------

  .registrar-section {
    display: flex;
    height: 340px;
    align-items: center;
    justify-content: space-evenly;
    background-color: $light-color;

    h2 {
      width: 943px;
      font-size: xx-large;
      font-weight: 400;
    }

    button {
      width: 192px;
      height: 52px;
      background-color: transparent;
      border: 1px solid $dark-color;
      border-radius: 8px;
      font-size: medium;
      font-weight: 600;
      color: $dark-color;
    }
  }
}