<header>
    <div class="logo-e-nav" >
      <h2> Consul<span>Dev</span></h2>
      <nav>
        <ul>
          <li><a href="">Serviços</a></li>
          <li><a href="">Sobre Nós</a></li>
          <li><a href="">Contato</a></li>
          <li><a  routerLink="/depoimentos" routerLinkActive="active">Depoimentos</a></li>
        </ul>
      
      </nav>
    </div>


    <div class="login-e-registrar">
      <button class="login">Login</button>
      <button class="registrar">Registrar</button>
    </div>
    
</header>
