<div class="sub-page-container">
  <div class="left-sub-page-container">
    <img src="../../../assets/undraw_portfolio_website_re_jsdd.svg" alt="">
  </div>
  <div class="right-sub-page-container">
    <h2>Nosso Compromisso</h2>
    <p>Valorizamos cada cliente e entendemos as necessidades específicas dos pequenos negócios. Nosso compromisso é oferecer soluções acessíveis e eficientes que geram impacto. Conheça como nossa dedicação e expertise podem transformar sua presença online.</p>
  </div>
</div>
<div class="sub-page-second-container">
  <div class="left-sub-page-container">
    <img id="img-2" src="../../../assets/sub-page1.svg" alt="">
  </div>
  <div class="right-sub-page-container">
    <h2>Quem Somos</h2>
    <p>Somos uma equipe apaixonada por ajudar pequenos negócios a crescerem no mundo digital. Com estratégias personalizadas e uma abordagem focada em resultados, trabalhamos lado a lado com nossos clientes para alcançar metas reais. Quer saber mais sobre nossa história e missão?</p>
  </div>
</div>