<div class="sub-page-container">
  <div class="left-sub-page-container">
    <img src="../../../assets/undraw_portfolio_website_re_jsdd.svg" alt="">
  </div>
  <div class="right-sub-page-container">
    <h2>Sed ut perspiciatis unde omnis</h2>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
       ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
  </div>
</div>
<div class="sub-page-second-container">
  <div class="left-sub-page-container">
    <img id="img-2" src="../../../assets/sub-page1.svg" alt="">
  </div>
  <div class="right-sub-page-container">
    <h2>Sed ut perspiciatis unde omnis</h2>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
       ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
  </div>
</div>