
<div class="contact-box">
    <div class="contact-text">
        <h2>Não perca a chance de participar!</h2> 
        <p>Inscreva-se agora no nosso formulário e fique por dentro de todas as novidades e eventos exclusivos. É rápido, fácil e garante acesso a conteúdos imperdíveis!</p>
    </div>

    <div class="from-aplication">
        <form>
        
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input type="text" placeholder="digite seu Nome e sobrenome" required>
            </div>
            <div class="form-group">
                <label for="iemail">E-mail</label>
                <input type="text" placeholder="digite seu Nome e sobrenome" autocomplete="email" required>
            </div>
            <div class="form-group">
                <label for="itel">telefone</label>
                <input type="tel" placeholder="xx xxxx-xxxx" autocomplete="tel-area-code" pattern="^\(\d{2}\)\d{4,5}-\d{4}$" required>
            </div>
            <div class="form-group">
                <input type="submit" value="enviar">
            </div>
        
        </form>
    </div>
</div>